body{
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}
.contenedorPrincipal{
    margin: 0;
    padding: 0;
}
.contenedorCategorias{
    display: flex;
    justify-content: space-evenly;
}
.catalogoProducto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px ;
}

.catalogoProducto img{
    width: 100%;
}

.divProducto{
    background-color: #a3d5d5;
    
}

.divNombre{
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}
