
.contenedorPrincipal{
    margin: 0;
    padding: 0;
}
.contenedorCategorias{
    display: flex;
    justify-content: space-evenly;
}
.catalogoProducto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px ;
    text-align: center;
}

.catalogoProducto img{
    width: 100%;
}

.divProducto{
    background-color: #a3d5d5;
    
}

.divNombre{
   
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}
.divPrecio{
  
    padding: 10px;
}

 .divBtn{
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.divCategoria{
    
}
