:root {
    --color-fondo: #EAEAEA; /* Gris suave con un toque cálido, perfecto para el fondo */
    --color-header-footer: #2F4F4F; /* Verde oscuro, serio y sofisticado para el header y footer */
    --color-categorias-cards: #A9B2B0; /* Gris verdoso claro, ideal para las categorías y cards, equilibrado sin ser demasiado brillante */
    --color-texto: #2C3E50; /* Gris oscuro, un contraste fuerte y agradable para facilitar la lectura */
    --color-boton: #5D6D7E; /* Gris azulado, sobrio pero con un toque de color para los botones */
    --color-boton-hover: #4D6273; /* Gris azulado más oscuro para el hover, creando un cambio suave pero claro */
    --color-texto:#e1e1e1; /* Blanco, para asegurar que el texto en el botón sea legible */
    
    --fuente-boton-categorias: 'Poppins', sans-serif;
    --fuente-productos-precio: 'Roboto', sans-serif;
    --fuente-header-footer: 'Montserrat', sans-serif;
}
body{
    background-color: var(--color-fondo);
    
}

.contenedorPrincipal{
    margin: 0;
    padding: 0;
}
.contenedorCategorias{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px 0;
}
.catalogoProducto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px ;
    text-align: center;
}

.catalogoProducto img{
    width: 100%;
}

.divProducto{
    background-color: var(--color-categorias-cards);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 15px;
    
}

.divNombre{
    
    margin: 0 auto;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    color: var(--color-texto);
    font-family: var(--fuente-productos-precio);
}
.divPrecio{
    
    padding: 10px;
    color: var(--color-texto);
    font-family: var(--fuente-productos-precio);
}

.divBtn{
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color:var(--color-boton);
    color: var(--color-texto);
    font-family: var(--fuente-boton-categorias);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.divBtn:hover{
    background-color: var(--color-boton-hover);
    transform: translateY(-2px);
}
.divCategoria {
    background-color: var(--color-categorias-cards);
    color: var(--color-texto);
    font-weight: 600;
    padding: 10px 50px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    font-family: var(--fuente-boton-categorias);
}

.divCategoria:hover {
    transform: scale(1.1);
}

